nav {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
    height: 80px;
    position: relative;
}

.category {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--text-primary);
    z-index: 998;
}

.shopIcon {
    height: 24px;
    width: 24px;
    stroke: var(--text-primary);
    opacity: 1;
    cursor: pointer;
    z-index: 1000;
}

.navTitle {
    text-decoration: none;
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 30px;
}

.navTitle:visited,
.category:visited {
    text-decoration: none;
    color: var(--text-primary);
}