@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Montserrat:wght@100;300;400;500;700&display=swap');

/* 
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
 */

:root {
    --card-primary: #efdecf;
    --card-secondary: #d3bcb3;
    --card-text: #392b1e;
}

.productCard {
    margin: 4px;
    height: 400px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--card-primary);
    gap: 4px;
    box-shadow: 1px 1px 12px var(--card-secondary);
    color: var(--card-text);
    border-radius: 4px;
    border: 1px solid var(--card-secondary);
}

.productTitle,
.productPrice {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.description {
    padding: 1rem;
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.productImg {
    width: 100%;
    max-height: 230px;
    background-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid var(--card-secondary);
    object-fit: cover;
}

.productTitle {
    font-size: 1.25rem;
    height: 55px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.productPrice {
    font-size: 1.25rem;
    margin: 0px;
}

.productCategory {
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.productDescription {
    font-size: 0.75rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cartDiv {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.productDescription .productImg,
.productTitle,
.productCategory,
.productPrice,
.productDescription {
    margin: 0px;
}

.buttonCard {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--card-text);
    width: 100%;
    color: white;
    cursor: pointer;
    height: 36px;
}

.buttonCardSmall {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-color: var(--card-text);
    width: 45px;
    color: white;
    cursor: pointer;
    height: 36px;
    margin: 0px;
}

.quantityDisplay {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.15rem;
    margin: 0px;
}