.shoppingCartContainer {
    height: auto;
    width: 500px;
    background-color: var(--secondary);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 999;
    padding: 30px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid var(--text-primary);
    border-bottom: 1px solid var(--text-primary);
    overflow-y: visible;
    scroll-behavior: smooth;
    scrollbar-width: 0px;
}

.itemsCardsDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}