.shop {
    display: flex;
    flex-direction: row;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: calc(100% - 150px);
    padding-left: 1rem;
}

.errorDiv {
    margin: auto;
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
}

.errorShop {
    font-size: 3rem;
}