.productsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    place-items: center;
    width: calc(100% - 150px);
    padding-left: 1rem;
    margin: auto;
    column-gap: 6px;
    row-gap: 6px;
}

.errorDiv {
    margin: auto;
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
}

.errorShop {
    font-size: 3rem;
}