nav {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--text-primary);
    height: 80px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 0.7rem;
}

li {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.shopIcon {
    height: 24px;
    width: 24px;
    stroke: var(--text-primary);
    opacity: 1;
}

.navTitle {
    letter-spacing: 0.15em;
    font-weight: 900;
    font-size: 30px;
}